*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.sehne{
    width: 700px;
    height: 300px;
    background-image: url(../img/background/1.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
.sanat{
    width: 70px;
    height: 100px;
    background-image: url(../img/santa/idle/1.png);
    background-size: 120px 100px;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 2;
    /* left: 100px; */
    /* bottom: 100px; */

    animation-name: santa-walk;
    animation-delay: 10ms;
    animation-duration: 500ms;
    animation-iteration-count: infinite;

    border: 1px solid red;

    
    
}
.bonus,.bomba{
    width: 40px;
    height: 40px;
    background-image: url(../img/bonus/coin-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: fixed;
    z-index: 1;
    animation-name: firlan;
    animation-delay: 10ms;
    animation-duration: 400ms;
    animation-iteration-count: infinite;

    border: 1px solid red;

}

.bomba{
    background-image: url(../img/bonus/coin-2.png);
}

@keyframes firlan{
    from{
        transform: rotateY(0deg); 
    }
    to{
        transform:rotateY(180deg);
    }
}


@keyframes santa-walk{
    0%{background-image: url(../img/santa/walk/1.png);}
    8%{background-image: url(../img/santa/walk/2.png);}
    16%{background-image: url(../img/santa/walk/3.png);}
    24%{background-image: url(../img/santa/walk/4.png);}
    32%{background-image: url(../img/santa/walk/5.png);}
    40%{background-image: url(../img/santa/walk/6.png);}
    48%{background-image: url(../img/santa/walk/7.png);}
    56%{background-image: url(../img/santa/walk/8.png);}
    64%{background-image: url(../img/santa/walk/9.png);}
    72%{background-image: url(../img/santa/walk/10.png);}
    80%{background-image: url(../img/santa/walk/11.png);}
    88%{background-image: url(../img/santa/walk/12.png);}
    100%{background-image: url(../img/santa/walk/13.png);}
}

.score{
    width: 60px;
    height: 25px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.score img{
    width: 25px;
    height: 25px;
    float: left;
}
.score p{
    line-height: 25px;
    text-indent: 5px;
    font-size: 18px;
    font-weight: 900;
    color: rgb(75, 77, 78);
}

.can{
    width:auto;
    height: 25px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.can img{
    width: 25px;
    height: 25px;
    float: left; 
}